  
<ion-content padding>
    <h2>Video Source List:</h2>
    <div ion-item *ngFor="let videoSource of videoSources;">
        <p>{{videoSource}}</p>
    </div>
    <h2>Audio Source List:</h2>
    <div ion-item *ngFor="let audioSource of audioSources;">
        <p>{{audioSource}}</p>
    </div>

    <h2>My ID: {{myPeerId}}</h2>

    <ion-item>
        <ion-label position="fixed">ID: </ion-label>
        <ion-input [(ngModel)]="peerId"></ion-input>
    </ion-item>
    <button ion-button block clear (click)="call()">Make Call</button> 

    <ion-item>
        <ion-label position="fixed">Message: </ion-label>
        <ion-input [(ngModel)]="message"></ion-input>
    </ion-item>
    <button ion-button block clear (click)="sendMsg()">Send Message</button> 

    <h2>Logs:</h2>
    <div ion-item *ngFor="let log of logs;">
        <p>{{log}}</p>
    </div>
</ion-content>